<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>"Резюме - Анна Чернышева"</title>
  <style type="text/css">
  .about {
    width: 200px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
   }
   .experience {
    width: 200px;
    background: #fc0;
    padding: 5px;
    border: solid 1px black;
    float: left;
    position: relative;
    top: 40px;
    left: -70px;
  }
   .contacts {
     width: 200px;
     background: #fc0;
     padding: 5px;
     border: solid 1px black;
     float: left;
     position: relative;
     top: 50px;
     left: -70px;
   }
  </style>
</head>
<body>
  <div class="about"><p>Очень классная</p></div>
  <div class="experience"><p>ФИВТ МФТИ</p></div>
  <div class="contacts">
    <a href="https://t.me/annachernysheva179">https://t.me/annachernysheva179</a>
  </div>
</body>
</html>
